operator in python
arithmetic op
assignment op
logical op
unary op

In [1]:
arithmeticoprator= '''addition
subtraction
multiplication
division
modules
floor division
exponentiation
'''
print(arithmeticoprator)

addition
subtraction
multiplication
division
modules
floor division
exponentiation

In [4]:
# aaddition

int.__add__(4656577889897898090998,56677565760807)

4656577946575463851805

In [6]:
# subtraction
int.__sub__(667282782,276827725372327)

-276827058089545

In [10]:
int.__mul__(3676877362728,6376372682733283783723)

23445140373459218741322633373276344

In [14]:
# division
int.__truediv__(20,5)

4.0

In [15]:
int.__truediv__(673378783,746374837874)

0.0009021992018354685

In [17]:
int.__truediv__(7637878,4883783434)

0.0015639264318778965

In [18]:
# floor division
int.__floordiv__(7348374873,737438738)

9

In [20]:
int.__floordiv__(30,3)

10

In [22]:
int.__floordiv__(10,5)

2

In [25]:
# module
print(int.__module__(50,5))

TypeError: 'str' object is not callable

In [27]:
# exponentiation
int.__exponentiation__(2,3)

AttributeError: type object 'int' has no attribute '__exponentiation__'

In [38]:
# module
# the modulus means the reminder
y=20000
z=10
print(y%z)

0

In [35]:
# exponentation
a=10
b=20
print(a**b)

100000000000000000000

In [26]:
a=28
b=7
print("Addition:", a + b)           # 19
print("Subtraction:", a - b)        # 11
print("Multiplication:", a * b)     # 60
print("Division:", a / b)           # 3.75
print("Floor Division:", a // b)    # 3
print("Modulus:", a % b)            # 3
print("Exponentiation:", a ** b)    # 50625

Addition: 35
Subtraction: 21
Multiplication: 196
Division: 4.0
Floor Division: 4
Modulus: 0
Exponentiation: 13492928512

assignment opwerator

In [1]:
x=18
if x>18:
    print('he can drive ')

In [1]:
int.__floordiv__(10,2)

5

In [3]:
float.__floordiv__(293.99,78.89)

3.0

bitwise operator

type casting in python

In [1]:
# type casting in python

int(7.7)

7

In [2]:
int(True)

1

In [3]:
int(3+7j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [4]:
int('1')

1

In [5]:
int('mandy')

ValueError: invalid literal for int() with base 10: 'mandy'

In [6]:
float(100)

100.0

In [7]:
float(False)

0.0

In [8]:
float(1+7j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [9]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [11]:
int(10.3)

10

In [10]:
int(10.3,10.4)

TypeError: 'float' object cannot be interpreted as an integer

In [13]:
float(10,20,34,70)

TypeError: float expected at most 1 argument, got 4

In [14]:
complex(1)

(1+0j)

In [15]:
complex(1,2)

(1+2j)

In [16]:
complex(1,2,3)

TypeError: complex() takes at most 2 arguments (3 given)

In [18]:
complex(10.2,23)

(10.2+23j)

In [19]:
complex(10.2,23.578)

(10.2+23.578j)

In [20]:
complex(true,false)

NameError: name 'true' is not defined

In [22]:
complex(False,True)

1j

In [23]:
complex(True,False)

(1+0j)

In [24]:
complex('10','20')

TypeError: complex() can't take second arg if first is a string

In [25]:
complex('20')

(20+0j)

In [26]:
str(10)

'10'

In [27]:
str(10,20)

TypeError: str() argument 'encoding' must be str, not int

In [28]:
str(10.56)

'10.56'

In [29]:
str(True)

'True'

In [30]:
str(1+2j)

'(1+2j)'

In [32]:
bool(10)

True

In [33]:
bool(0)

False

In [40]:
bool()

False

In [35]:
bool( )

False

In [37]:
bool(3.4)

True

In [38]:
bool(2+3j)

True

In [39]:
bool('nit')

True

In [1]:

x=(input('enter your name :' ))

y=int(input('enter the first  no :'))

z=int(input('enter second no :'))

print(x)

print(y+z)

102

In [2]:
w=eval(input('enetr the no here : '))
print(w)

114.8