data structure in python

list  
tuple   
set  
dictionary  
range

set is defined in square braket[]

In [1]:
l=[]
len(l)

0

In [5]:
# list
x=[34,45,45.34,'mandy']
print(x,type(x))
len(x)

[34, 45, 45.34, 'mandy'] <class 'list'>

4

In [1]:
bin(25)

'0b11001'

In [10]:
l

[10, 45, 23, 56, 90]

In [2]:
l.append(3+4j)

In [3]:
l

[(3+4j)]

In [4]:
l.append('mandy')

In [5]:
l

[(3+4j), 'mandy']

In [15]:
l.count(10)

1

In [19]:
l[:5]

[10, 45, 23, 56, 90]

In [5]:
l=[]

In [6]:
l.append(10)

In [21]:
len(l)

8

In [20]:
l.append(12)

In [9]:
l.(45)
l.append(23)
l.append(56)
l.append(90)

In [10]:
len(l)

5

In [22]:
print(l)

[10, 45, 23, 56, 90, (3+4j), 'mandy', 12]

In [12]:
l.append(45)
l.append(23)
l.append(56)
l.append(90)

In [13]:
print(l)

[10, 45, 23, 56, 90, 45, 23, 56, 90]

In [31]:
l.index(10)

0

In [25]:
l1=[]
l1

[]

In [26]:
l.append(23.34)
l1.append(90)
l1.append(4+5j)
l1.append('mandy')
l1.append([12.34,3,34,55])

In [27]:
l1

[23.34, 90, (4+5j), 'mandy', [12.34, 3, 34, 55]]

In [22]:
print(l)
print(l1)

[10, 45, 23, 56, 90, 45, 23, 56, 90]
[23.34, 90, (4+5j), 'mandy', 23.34, 90, (4+5j), 'mandy', 23.34, 90, (4+5j), 'mandy', 23.34, 90, (4+5j), 'mandy', [12.34, 3, 34, 55]]

In [23]:
print(id(l))
print(id(l1))

1864769374976
1864776220288

In [24]:
l1==l1

True

In [25]:
l1==l

False

In [26]:
l!=l1

True

In [27]:
a=5
b=5
print(id(a))==print(id(b))

140703225420344
140703225420344

True

In [28]:
l

[10, 45, 23, 56, 90, 45, 23, 56, 90]

In [29]:
l.remove(10)

In [30]:
l

[45, 23, 56, 90, 45, 23, 56, 90]

In [164]:
l = [1, 2, 3, 4, 3]
l.remove(3)
print(l)

[1, 2, 4, 3]

In [166]:
l.remove(1)

In [35]:
l

[23, 56, 90, 45, 23, 56, 90]

In [31]:
l.remove(45)

In [32]:
l

[23, 56, 90, 45, 23, 56, 90]

In [36]:
s7='nareshit'
s7

'nareshit'

In [1]:
print(1,2)+(3,4)

1 2

TypeError: unsupported operand type(s) for +: 'NoneType' and 'tuple'

In [3]:
i=(12,67,[6.78,7,8])
i

(12, 67, [6.78, 7, 8])

In [37]:
s7[1]

'a'

In [38]:
s7[3]

'e'

In [43]:
s7[6]

'i'

backword indexing

In [5]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [6]:
x[-2]

14

In [7]:
x[-10]

6

In [8]:
x[-7]

9

In [9]:
x[8]

9

In [10]:
x[1]

2

In [11]:
x[6]

7

In [12]:
x[9]

10

In [13]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [14]:
x[1:5]

[2, 3, 4, 5]

In [15]:
x[2:10]

[3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
x[5:16]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [17]:
x[10:16]

[11, 12, 13, 14, 15]

In [19]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [20]:
x[-9:-3]

[7, 8, 9, 10, 11, 12]

In [21]:
x[-15:3]

[1, 2, 3]

In [26]:
x[-15:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [27]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [28]:
x[-9:-5]

[7, 8, 9, 10]

In [29]:
x[-1]

15

In [39]:
x[-15]

1

In [46]:
x[-15:6]

[1, 2, 3, 4, 5, 6]

In [50]:
x[1:3]

[2, 3]

In [51]:
x[1:15]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [52]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [53]:
x[-15:-13]

[1, 2]

In [57]:
x[-12:-1]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [58]:
x[-15:-7]

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
x[1:6]

[2, 3, 4, 5, 6]

In [61]:
x[3:6]

[4, 5, 6]

In [62]:
s8 = 'abcdefghi'
s8
len(s8)

9

In [45]:
s8[1:8]

'bcdefgh'

In [47]:
s8[1:3]

'bc'

step indexing in python

In [48]:
step_indexing = [1,2,3,4,5,6,7,8,9,10]
step_indexing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
step_indexing[0:10:4]

[1, 5, 9]

In [51]:
l

[23, 56, 90, 45, 23, 56, 90]

In [52]:
l5=l.reverse()
l5

In [53]:
l

[90, 56, 23, 45, 90, 56, 23]

In [63]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [64]:
y=x.copy()
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [65]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [3]:
me=[]

In [7]:
me.append(23)
me.append(89)
me.append(80)
me.append(90)
me.append(900)
me

[23, 89, 80, 90, 900]

In [8]:
me.remove(900)

In [9]:
me

[23, 89, 80, 90]

In [10]:
me.append(78)
me.append(377)
me.append(21)
me.append(67)
me

[23, 89, 80, 90, 78, 377, 21, 67]

In [11]:
me.append(80)

In [12]:
me.append(800)
me.append(4555)
me.append(344)
me.append(934555)
me

[23, 89, 80, 90, 78, 377, 21, 67, 80, 800, 4555, 344, 934555]

In [13]:
me.remove(80)

In [14]:
me

[23, 89, 90, 78, 377, 21, 67, 80, 800, 4555, 344, 934555]

In [15]:
my_self=me.copy()

In [16]:
my_self

[23, 89, 90, 78, 377, 21, 67, 80, 800, 4555, 344, 934555]

In [17]:
my_self

[23, 89, 90, 78, 377, 21, 67, 80, 800, 4555, 344, 934555]

In [18]:
my_self.pop(1)

89

In [4]:
me

[]

In [52]:
me

[23, 90, 78, 377, 21, 67, 80, 800, 4555]

In [51]:
me.pop(-1)

344

In [49]:
me.pop(1)

89

In [50]:
me

[23, 90, 78, 377, 21, 67, 80, 800, 4555, 344]

In [137]:
me

[23, 67, 80, 800, 4555, 344, 934555]

In [101]:
me.count(90)

0

In [6]:
me.extend([23,45,66,788,99])

NameError: name 'me' is not defined

In [55]:
me

[23, 90, 78, 377, 21, 67, 80, 800, 4555, 23, 45, 66, 788, 99]

change the value

In [58]:
me[0]=70

In [59]:
me

[70, 23, 23, 45, 66, 67, 78, 80, 90, 99, 377, 788, 800, 4555]

In [56]:
me.sort()

In [57]:
me

[21, 23, 23, 45, 66, 67, 78, 80, 90, 99, 377, 788, 800, 4555]

In [107]:
me[1:10:3]

[45, 78, 344]

In [108]:
me

[23, 45, 66, 67, 78, 89, 99, 344, 788, 800, 4555, 934555]

In [109]:
print(sum(me))

941509

In [110]:
print(min(me))

23

In [111]:
print(max(me))

934555

In [112]:
print(me)

[23, 45, 66, 67, 78, 89, 99, 344, 788, 800, 4555, 934555]

In [115]:
me.insert(12,78)

In [116]:
me

[23, 45, 66, 67, 78, 89, 99, 344, 788, 800, 4555, 934555, 78]

In [118]:
del me[1:3]

In [119]:
me

[23, 67, 78, 89, 99, 344, 788, 800, 4555, 934555, 78]

In [120]:
me.sort()

In [121]:
me

[23, 67, 78, 78, 89, 99, 344, 788, 800, 4555, 934555]

In [122]:
for i in me:
    print(i)

23
67
78
78
89
99
344
788
800
4555
934555

In [123]:
for i in my_self:
    print(i)

89
78
377
67
800
4555
344
934555

In [63]:
for i in  enumerate(l):
    print(i)

(0, 10)
(1, 45)
(2, 23)
(3, 56)
(4, 90)
(5, (3+4j))
(6, 'mandy')
(7, 12)

In [20]:
india=[]

In [21]:
len(india)

0

In [22]:
india.append('Maharashtra')
india.append('delhi')
india.append('gujrat')
india.append('rajsthan')
india.append('uttarakhand')
india.append('jammu')

In [28]:
india.append(['sangali','satara','kolhapur','solapur'])
india.append(['mumbai','delhi','amadabad','jaipur','deharadun','jammu'])

In [33]:
india.insert(2,'north' ,)
india.insert(3,'east')

In [36]:
print(india,end='')

['Maharashtra', 'delhi', 'north', 'east', 'gujrat', 'rajsthan', 'uttarakhand', 'jammu', ['sangali', 'satara', 'kolhapur', 'solapur'], ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu']]

In [38]:
india.insert(7,7)

In [39]:
india

['Maharashtra',
 'delhi',
 'north',
 'east',
 'gujrat',
 'rajsthan',
 'uttarakhand',
 7,
 'jammu',
 ['sangali', 'satara', 'kolhapur', 'solapur'],
 ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu']]

In [41]:
india.remove('north')

In [42]:
india.remove('east')

In [43]:
india

['Maharashtra',
 'delhi',
 'gujrat',
 'rajsthan',
 'uttarakhand',
 7,
 'jammu',
 ['sangali', 'satara', 'kolhapur', 'solapur'],
 ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu']]

In [6]:
numbers=[23,34,56,78,56.12,2+7j]

In [7]:
print(numbers,type(numbers),len(numbers))

[23, 34, 56, 78, 56.12, (2+7j)] <class 'list'> 6

In [8]:
numbers.remove(2+7j)

In [9]:
numbers.sort()

In [21]:
al=['a','z','w']

In [22]:
al.sort()
print(al)

['a', 'w', 'z']

In [10]:
print(numbers)

[23, 34, 56, 56.12, 78]

In [17]:
numbers.reverse()

In [18]:
print(numbers)

[23, 34, 56, 56.12, 78]

In [19]:
print(numbers)

[23, 34, 56, 56.12, 78]

In [20]:
numbers.sort(reverse='true')
print(numbers)

[78, 56.12, 56, 34, 23]

In [56]:
print(india)

[['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'], ['sangali', 'satara', 'kolhapur', 'solapur'], 'jammu', 7, 'uttarakhand', 'rajsthan', 'gujrat', 'delhi', 'Maharashtra']

In [58]:
aryvart=india.copy()

In [59]:
print(aryvart)

[['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'], ['sangali', 'satara', 'kolhapur', 'solapur'], 'jammu', 7, 'uttarakhand', 'rajsthan', 'gujrat', 'delhi', 'Maharashtra']

In [60]:
combine=numbers+india

In [61]:
print(combine)

[23, 34, 56, 56.12, 78, ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'], ['sangali', 'satara', 'kolhapur', 'solapur'], 'jammu', 7, 'uttarakhand', 'rajsthan', 'gujrat', 'delhi', 'Maharashtra']

In [62]:
len(combine)

14

In [63]:
combine.pop()

'Maharashtra'

In [67]:
combine[2]

56

In [68]:
combine[1]

34

In [69]:
combine[1:]

[34,
 56,
 56.12,
 78,
 ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'],
 ['sangali', 'satara', 'kolhapur', 'solapur'],
 'jammu',
 7,
 'uttarakhand',
 'rajsthan',
 'gujrat',
 'delhi']

In [70]:
combine[-1]

'delhi'

In [71]:
combine[10:-1]

['rajsthan', 'gujrat']

In [72]:
combine[::-1]

['delhi',
 'gujrat',
 'rajsthan',
 'uttarakhand',
 7,
 'jammu',
 ['sangali', 'satara', 'kolhapur', 'solapur'],
 ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'],
 78,
 56.12,
 56,
 34,
 23]

In [73]:
combine[1:10:2]

[34,
 56.12,
 ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'],
 'jammu',
 'uttarakhand']

In [74]:
combine.append('maharashtra')

In [75]:
combine

[23,
 34,
 56,
 56.12,
 78,
 ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'],
 ['sangali', 'satara', 'kolhapur', 'solapur'],
 'jammu',
 7,
 'uttarakhand',
 'rajsthan',
 'gujrat',
 'delhi',
 'maharashtra']

In [76]:
combine.count(1)

0

In [78]:
combine.extend('south')

In [79]:
print(combine,end="")

[23, 34, 56, 56.12, 78, ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'], ['sangali', 'satara', 'kolhapur', 'solapur'], 'jammu', 7, 'uttarakhand', 'rajsthan', 'gujrat', 'delhi', 'maharashtra', 's', 'o', 'u', 't', 'h']

In [81]:
print(combine,type(combine),len(combine))

[23, 34, 56, 56.12, 78, ['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu'], ['sangali', 'satara', 'kolhapur', 'solapur'], 'jammu', 7, 'uttarakhand', 'rajsthan', 'gujrat', 'delhi', 'maharashtra', 's', 'o', 'u', 't', 'h'] <class 'list'> 19

In [80]:
for i in combine:
    print(i)

23
34
56
56.12
78
['mumbai', 'delhi', 'amadabad', 'jaipur', 'deharadun', 'jammu']
['sangali', 'satara', 'kolhapur', 'solapur']
jammu
7
uttarakhand
rajsthan
gujrat
delhi
maharashtra
s
o
u
t
h

In [87]:
combine.clear()

In [89]:
print(combine,len(combine))

[] 0

in build  
tuple in python are immutable we cannot the chage tuple  
tuple in python

In [23]:
t=()

In [24]:
type(t)

tuple

In [25]:
a10=7

In [29]:
t1=1,2,3,4
t1
type(t1)

tuple

In [30]:
t2=7,9,90,78,59,10
t2

(7, 9, 90, 78, 59, 10)

In [3]:
print(a,type(a),len(a))

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54) <class 'tuple'> 13

In [31]:
t2.count(10)

1

In [32]:
a.count(40)

0

In [33]:
a.count(70)

0

In [34]:
a

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [35]:
t1

(1, 2, 3, 4)

In [36]:
t1[0]=10

TypeError: 'tuple' object does not support item assignment

In [37]:
a[0]

34

In [39]:
t1

(1, 2, 3, 4)

In [38]:
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [40]:
t1.index(3)

2

In [41]:
t1.index(2)

1

In [44]:
t1[1:10]

(2, 3, 4)

In [45]:
t1[0:-1]

(1, 2, 3)

In [42]:
for i in t1:
    print(i)

1
2
3
4

In [46]:
for i in enumerate(t1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [50]:
a=(34,45,67,89,00,87,543,1,25,76,56,7,34,54)
print(a,type(a))

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 34, 54) <class 'tuple'>

In [51]:
a.count(34)

2

In [49]:
for i in enumerate(a):
    print(i)

(0, 34)
(1, 45)
(2, 67)
(3, 89)
(4, 0)
(5, 87)
(6, 543)
(7, 1)
(8, 25)
(9, 76)
(10, 56)
(11, 7)
(12, 54)

In [125]:
a[1]

45

In [126]:
a[0]

34

In [128]:
a[9]

76

In [129]:
len(a)

13

In [130]:
a

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [133]:
a[2:13]

(67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [136]:
a[-9:-1]

(0, 87, 543, 1, 25, 76, 56, 7)

In [137]:
a[-9]

0

In [138]:
a[-1]

54

In [139]:
a[0:12]

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7)

In [140]:
a

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [141]:
len(a)

13

In [142]:
a[0:13]

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [144]:
a[1:12]

(45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7)

In [145]:
a[2:14]

(67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [146]:
a[0:10:2]

(34, 67, 0, 543, 25)

In [148]:
a[7:10]

(1, 25, 76)

In [132]:
b=a[0:13]
b

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [149]:
print(b,type(b))

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54) <class 'tuple'>

In [150]:
b.count(35)

0

In [151]:
b.count(0)

1

In [152]:
b[2:13]

(67, 89, 0, 87, 543, 1, 25, 76, 56, 7, 54)

In [155]:
b[-13:-1]

(34, 45, 67, 89, 0, 87, 543, 1, 25, 76, 56, 7)

In [ ]:
for i in b:
    print()

NameError: name 'b' is not defined

set in python  
The set data structure is non-homogeneous but stores the elements in a single row.

set

In [11]:
a=eval(input('enter the expression '))
print(a)

7045

In [6]:
s={}

In [7]:
type(s)

dict

In [7]:
z={100,20,30,40,50,60,70,80,90,110,10,20}

In [8]:
z

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [12]:
z.add(11)

In [11]:
z

{10, 11, 12, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [14]:
y=z.copy()

In [15]:
print(y)

{100, 70, 40, 10, 12, 110, 80, 50, 20, 90, 60, 30}

In [21]:
z

{10, 12, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [17]:
r={1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90}
r

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90}

In [22]:
z.intersection(r)

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [14]:
z.issubset(r)

NameError: name 'r' is not defined

:

In [30]:
a=z.union(r)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [32]:
b={}

In [34]:
z.isdisjoint(r)

False

In [33]:
z.isdisjoint(b)

True

In [37]:
x=z.difference(r)

In [39]:
print(x)

{100, 12, 110}

In [45]:
z.difference_update(r)
z

{12, 100, 110}

In [42]:
z

{10, 12, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [43]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c) 

print(myset)

{'banana'}

In [47]:
z.intersection_update(r)
print(z)

set()

In [54]:
m={78,34,1,23,45,67,89}

In [55]:
r.issuperset(z)

True

In [56]:
r.issuperset(m)

False

In [60]:
r.difference_update(m)
r

{2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90}

In [62]:
com=r.union(m)
print(com,end="")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 70, 67, 78, 80, 20, 23, 89, 90, 30, 34, 40, 45, 50, 60}

In [63]:
com.remove(10)

In [64]:
print(com,end="")

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 20,
 23,
 30,
 34,
 40,
 45,
 50,
 60,
 67,
 70,
 78,
 80,
 89,
 90}

In [5]:
q={12,33.1,'mandy',90,77,70}
print(q,type(q))

{33.1, 70, 'mandy', 90, 12, 77} <class 'set'>

In [169]:
q.add(19)

In [159]:
q

{12, 19, 33.1, 70, 77, 90, 'mandy'}

In [170]:
q

{12, 19, 33.1, 70, 77, 90, 'mandy'}

In [171]:
q.remove(12)

In [172]:
q

{19, 33.1, 70, 77, 90, 'mandy'}

In [174]:
q.pop()

33.1

In [2]:
fruits = {"apple", "banana", "cherry","mango","lemon","guava"}

fruits.pop() 

# print(fruits)

'cherry'

In [3]:
fruits1={'mango','banana','papaya','orange','watermelon'}

print(fruits1)

{'papaya', 'mango', 'banana', 'orange', 'watermelon'}

In [4]:
fr3=fruits.union(fruits1)
print(fr3)

{'papaya', 'mango', 'banana', 'lemon', 'guava', 'orange', 'watermelon', 'apple'}

In [6]:
fr4=fruits.intersection(fruits)
print(fr4)

{'mango', 'banana', 'lemon', 'guava', 'apple'}

In [7]:
fr5=fruits.difference(fruits1)
print(fr5)

{'lemon', 'guava', 'apple'}

In [8]:
fr6=fruits.issuperset(fruits1)
print(fr6)

False

In [12]:
fruits.add('chiku')

In [13]:
fruits

{'apple', 'banana', 'chiku', 'guava', 'lemon', 'mango'}

In [14]:
fruits.intersection(fruits1)

{'banana', 'mango'}

In [16]:
fruits.difference_update('chili')
fruits

{'apple', 'banana', 'chiku', 'guava', 'lemon', 'mango'}

In [18]:
fruits.issubset(fruits1)

False

In [19]:
fruits.remove('lemon')

In [20]:
fruits

{'apple', 'banana', 'chiku', 'guava', 'mango'}

In [23]:
fruits.symmetric_difference(fruits1)

{'apple', 'chiku', 'guava', 'orange', 'papaya', 'watermelon'}

In [24]:
fr10=fruits.copy()

In [25]:
fr10

{'apple', 'banana', 'chiku', 'guava', 'mango'}

In [26]:
fruits.pop()

'mango'

In [27]:
fruits.pop()
fruits

{'apple', 'chiku', 'guava'}

In [32]:
fruits.update('g')
fruits

{'a', 'apple', 'b', 'chiku', 'e', 'g', 'guava', 'r', 's', 't', 'w', 'y'}

In [33]:
fruits

{'a', 'apple', 'b', 'chiku', 'e', 'g', 'guava', 'r', 's', 't', 'w', 'y'}

In [34]:
fruits1

{'banana', 'mango', 'orange', 'papaya', 'watermelon'}

In [39]:
fruits1.update('ghau','maka')

In [40]:
fruits1

{'a',
 'banana',
 'g',
 'h',
 'k',
 'm',
 'mango',
 'orange',
 'papaya',
 'u',
 'watermelon'}

In [41]:
for i in fruits1:
    print(i)

mango
k
u
orange
a
g
papaya
banana
h
watermelon
m

In [42]:
fruits1.clear()
fruits1

set()

In [43]:
fruits.clear()
fruits

set()

In [44]:
print(fruits,type(fruits),len(fruits))
print(fruits1,type(fruits1),len(fruits1))

set() <class 'set'> 0
set() <class 'set'> 0

dictionary in python  
A dictionary is also a non-homogeneous data structure that stores key-value pairs.

In [45]:
cal={'mandy':'akshara','swapnil':'pruthvi','amar':'sakshi'}
print(cal)

{'mandy': 'akshara', 'swapnil': 'pruthvi', 'amar': 'sakshi'}

In [47]:
cal.keys()

dict_keys(['mandy', 'swapnil', 'amar'])

In [48]:
cal.values()

dict_values(['akshara', 'pruthvi', 'sakshi'])

In [49]:
cal.items()

dict_items([('mandy', 'akshara'), ('swapnil', 'pruthvi'), ('amar', 'sakshi')])

In [52]:
cal.get('mandy')

'akshara'

In [55]:
cal.pop('swapnil')

'pruthvi'

In [59]:
cal

{'mandy': 'akshara', 'amar': 'sakshi', 'sagar': 'rutuja'}

In [58]:
cal.update({'sagar':'rutuja'})
cal

{'mandy': 'akshara', 'amar': 'sakshi', 'sagar': 'rutuja'}

In [61]:
cal['randy']='r'

In [62]:
cal

{'mandy': 'akshara', 'amar': 'sakshi', 'sagar': 'rutuja', 'randy': 'r'}

In [63]:
cal.popitem()

('randy', 'r')

In [71]:
cal.fromkeys('m,a,s,r')

{'m': None, ',': None, 'a': None, 's': None, 'r': None}

In [72]:
cal

{'mandy': 'akshara', 'amar': 'sakshi', 'sagar': 'rutuja'}

In [73]:
val={'mercedis':'mayback','wolkswagun':'vento','bmw':'x1','odi':'a5'}
val

{'mercedis': 'mayback', 'wolkswagun': 'vento', 'bmw': 'x1', 'odi': 'a5'}

In [75]:
total=dict(zip(val,cal))

In [76]:
total

{'mercedis': 'mandy', 'wolkswagun': 'amar', 'bmw': 'sagar'}

In [78]:
stu=['mandy','kapil','rahul','rohan']

languages=['python','js','java','c++']

In [ ]:
combine=dict(zip(stu,languages))

In [80]:
print(combine,type(combine),len(combine))

{'mandy': 'python', 'kapil': 'js', 'rahul': 'java', 'rohan': 'c++'} <class 'dict'> 4

In [81]:
dr=combine.copy()

In [82]:
dr

{'mandy': 'python', 'kapil': 'js', 'rahul': 'java', 'rohan': 'c++'}

In [92]:
for i in combine:
    print(i)

mandy
kapil
rahul
rohan

In [83]:
dr.clear()

In [84]:
print(dr,type(dr),len(dr))

{} <class 'dict'> 0

In [85]:
print(combine,type(combine),len(combine))

{'mandy': 'python', 'kapil': 'js', 'rahul': 'java', 'rohan': 'c++'} <class 'dict'> 4

range in python  
he range() function in Python takes up to three arguments:

 start (optional):

 An integer specifying the starting value of the sequence. If not provided, the default is 0.

  stop (required):

An integer specifying the ending value of the sequence (exclusive). The sequence will stop one value before this.

   step (optional):

An integer specifying the increment between each value in the sequence. If not provided, the default is 1.

In [88]:
rangerover=range(1,10)
rangerover

range(1, 10)

In [93]:
rover=(range(1,10))
rover

range(1, 10)

In [94]:
for n in rover:
    print(n)

1
2
3
4
5
6
7
8
9

In [95]:
print(rover,type(rover),len(rover))

range(1, 10) <class 'range'> 9

In [97]:
x=list(range(1,77))
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76]

In [98]:
no=list(range(1,101))
print(no,type(no),len(no))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100] <class 'list'> 100

In [101]:
no=range(101)
for n in no:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [105]:
numbers=range(1,1001,50)
for n in numbers:
    print(n)

1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951

In [106]:
print(type(numbers),len(numbers))

<class 'range'> 20

In [108]:
numbers.count(1)

1